html, body {
    margin: 4vw;
    border: 0;
    font-size: 100%;
    background-color: #171b2e;
    color: #ffffff;
  }

#banner a:hover {
  color: #bab825;
}

#banner a{
  font-size: 200%;
  color: #9dac77;
}

#post-list a{
  font-size: 100%;
  /* font-style: normal; */
  font-weight: bold;
  text-decoration: none;
  color: #cfd1ca;
}

#post-list a:visited{
  color: #819360;
}

#menu>ul {
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu>ul>li {
  float: left;
  font-size: 1.6em;
  text-decoration: none;
}

#menu>ul>li>a:visited{
  color: #819360;
}

#menu>ul>li>a {
  padding: 30px 20px 30px 0px;
  color: #ffffff;
}