html, body {
    margin: 4vw;
    border: 0;
    font-size: 100%;
    background-color: #171b2e;
    color: #ffffff;
  }

#banner a:hover {
  color: #bab825;
}

#banner a{
  font-size: 200%;
  color: #9dac77;
}